/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --backgd-color: var(--white-color);
  --text-color: var(--backgd-accent-color);
  --background-gradient: var(--white-gradient-color);
  --main-gradient-color: var(--white-gradient-color);
  --other-gradient-color: var(--black-color);
  --text-button-color: var(--backgd-color);
  --contour-color: var(--backgd-accent-color);
  --sparks-color: var(--red-color);
}

:root.theme-dark {
  --backgd-color: var(--backgd-accent-color);
  --text-color: var(--accent-color);
  --font-weight: var(--accent-font-weight);
  --background-gradient: var(--backgd-accent-color);
  --main-gradient-color: var(--green-color);
  --other-gradient-color: var(--dark-green-color);
  --text-button-color: var(--accent-color);
  --sparks-color: var(--accent-color);
  --contour-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgd-color: var(--backgd-accent-color);
    --text-color: var(--accent-color);
    --font-weight: var(--accent-font-weight);
    --main-gradient-color: var(--green-color);
    --background-gradient: var(--backgd-accent-color);
    --other-gradient-color: var(--dark-green-color);
    --text-button-color: var(--accent-color);
    --sparks-color: var(--accent-color);
    --contour-color: var(--accent-color);
  }
}